@layer theme, base, components, utilities;
@import 'tailwindcss';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
body,
html {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

* {
	scroll-behavior: smooth;
}

@keyframes loader-keyframes {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
		display: none;
	}
}
#loader {
	animation: loader-keyframes 1s ease-in-out 0.3s 1 normal forwards;
}
